@model IEnumerable<Farmax.Models.ProdutoModel>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

<script src="Scripts/jquery-3.0.0.min.js"></script>

<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

<br />
<h2>Produtos</h2>

<p align="right">
    <a href="/produto/create" class="btn btn-dark"><i class="fas fa-plus"></i></a>
</p>
<table class="table table-striped table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Validade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Validade)
            </td>
            <td>
                <a href="#" style="color: white" class="btnEditar" data-value="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                <a href="#" style="color: white" class="btnDetalhes" data-value="@item.Id"><i class="fas fa-info-circle"></i></a>
                <a href="#" style="color: white" class="btnExcluir" data-value="@item.Id"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="modal_produto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $.ajaxSetup({ cache: false });

            $(".btnDetalhes").click(function () {

                var id = $(this).data("value");

                $("#modal").load("/Produto/Details/" + id, function () {
                    $('#modal_produto').modal("show");
                });
            });

            $(".btnEditar").click(function () {

                var id = $(this).data("value");

                $("#modal").load("/Produto/Edit/" + id, function () {
                    $('#modal_produto').modal("show");
                });
            });

            $(".btnExcluir").click(function () {

                var id = $(this).data("value");

                $("#modal").load("/Produto/Delete/" + id, function () {
                    $('#modal_produto').modal("show");
                });
            });
        });

    </script>

}
